linux_ami = "ami-06e4ca05d431835e9"
windows_ami = "ami-00e4817e2aba98c93"
dev_cidr = "xx.x.x.x//16"
dev_app_subnet1 = "xx.x.x.x//24"
dev_app_subnet2 = "xx.x.x.x//24"
dev_db_subnet1 = "xx.x.x.x//24"
dev_db_subnet2 = "xx.x.x.x/24"
test_cidr = "xxx.xx.x.x/16"
test_app_subnet1 = "xxx.xx.x.x/24"
test_app_subnet2 = "xxx.xx.x.x/24"
test_db_subnet1 = "xxx.xx.x.x/24"
test_db_subnet2 = "xxx.xx.x.x/24"
preprod_cidr = "xxx.xxx.x.x/16"
preprod_app_subnet1 = "xxx.xxx.x.x/24"
preprod_app_subnet2 = "xxx.xxx.x.x/24"
preprod_db_subnet1 = "xxx.xxx.x.x/24"
preprod_db_subnet2 = "xxx.xxx.x.x/24"
az1 = "us-west-1a"
az2 = "us-west-1b"
linux_key = "test_linux"
windows_key = "test_windows"